/**
 * Styles for front end appointment form
 *
 * @link https://timeslotplugins.com
 *
 * @package Time Slot
 * @since 1.0.0
 *
 */


/*- FOUC Helper---*/

.ts-load {
	opacity: 0;
	visibility: hidden;
}

/*- Buttons ---*/

body .ts-form-wrapper .ts-form .ts-fieldset .ts-btn,
body .ts-form-wrapper .ts-form .ts-fieldset button,
body .ts-form-wrapper .ts-form .ts-fieldset #ts-btn-submit {
	cursor:pointer;
	display: inline-block;
	line-height: 1;
	margin-bottom:20px;
	padding: 0.5em 1em;
	text-align: center;
	transition: all 0.2s ease;
	width: auto;
}

body .ts-form-wrapper .ts-form .ts-fieldset .ts-btn:hover,
body .ts-form-wrapper .ts-form .ts-fieldset button:hover,
body .ts-form-wrapper .ts-form .ts-fieldset #ts-btn-submit:hover {
	text-decoration: none;
}

.ts-form-wrapper #ts-btn-next {
	margin-top: 1em;
}

.ts-form-wrapper #ts-btn-prev {
	background: none;
	border: none;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	margin: 0 0 20px;
	padding: 10px 0;
}

button#ts-btn-prev .back-arrow {
	font-style: normal;
	line-height: 1;
	margin-right: 0.8em;
}

body .ts-form-wrapper .ts-form .ts-fieldset #ts-btn-submit {
	margin: 2%;
}

/*- Labels ---*/

.ts-form-wrapper label {
	display: block;
	margin-top: 1em;
	padding: 0 0 0.25em;
}

/*- Inputs ---*/

.ts-form-wrapper input[type=text],
.ts-form-wrapper input[type=email],
.ts-form-wrapper input[type=tel],
body .ts-form-wrapper select {
	line-height: normal;
	max-width: -moz-available;
	max-width: -webkit-fill-available;
	padding: 0.5em;
	transition: border-color 0s;
	width: 100%;
}

.ts-form-wrapper input:disabled,
.ts-form-wrapper .select2-container--default.select2-container--disabled .select2-selection--single {
	background-color: inherit;
}

/*- Checkbox ---*/

.ts-form-wrapper .ts-checkbox-label {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 25px;
	line-height: 1.2;
	padding: 0 0 0 35px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ts-checkbox-label input {
	cursor: pointer;
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0;
}

.ts-checkmark {
	height: 25px;
	left: 0;
	position: absolute;
	top: 0;
	width: 25px;
}

.ts-checkmark:after {
	content: '';
	display: none;
	position: absolute;
}

.ts-checkbox-label input:checked ~ .ts-checkmark:after {
	display: block;
}

.ts-form-wrapper .ts-checkbox-label .ts-checkmark:after {
	border-width: 0 2px 2px 0;
	height: 14px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 6px;
}

/*- Select2 ---*/

.ts-form-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 2.2em !important;
	padding: 0 0 0 .5em;
}

.ts-form-wrapper .select2-container .select2-selection--single {
	height: auto!important;
}

.ts-form-wrapper .select2-selection__arrow {
	width: 10%!important;
}

.ts-form-wrapper .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
	opacity: 0.85;
}

.ts-form span.select2 {
	width: 100%!important;
}

.select2-container--default .ts-select2 .select2-results__option--selected {
	opacity: 0.85;
}

body .ts-form-wrapper .select2-dropdown.ts-select2 ul,
.ts-form .ts-select2 .select2-results__option {
	margin: 0;
}

body .ts-form-wrapper .select2-dropdown.ts-select2 ul {
	padding: 0;
}

/*- Form ---*/

.ts-form-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 3%;
	position: relative;
	width: 100%;
}

.ts-fieldset.ts-fieldset-form {
	align-items:center;
	display:flex;
}

fieldset.ts-fieldset {
	border: none;
	display:none;
	margin: 0;
}

.ts-fieldset-inner {
	align-items:center;
	display:flex;
	width: 100%;
}

.ts-form {
	width:100%;
}

.ts-input-wrapper {
	flex-basis:100%;
}

.ts-fieldset,
.ts-form,
.ts-fieldset.ts-fieldset-form div {
	padding: 0;
}

/*- Summary ---*/

.ts-form-wrapper .ts-summary {
	padding: 2%;
	position: relative;
}

.ts-form-wrapper .ts-summary p {
	margin: 0;
	padding: 0;
}

.ts-form-wrapper .ts-summary h2 {
	font-size: 32px;
	line-height: 1.3;
	margin: 0;
}

.ts-form-wrapper .ts-summary  h3 {
	font-size: 24px;
	line-height: 1.3;
	margin: 0;
}

#ts-summary-msg {
	padding-top: 27px;
}

.ts-form-wrapper .ts-summary .ts-error-msg {
	margin-bottom: 10px;
}

#ts-summary-customer {
	padding: 30px 0;
}

#ts-summary-discount {
	display: none;
	padding-right: 10px;
	text-decoration: line-through;
}

/*- Errors ---*/

div.ts-appt-error {
	align-items: center;
	display: flex;
	font-size: 12px;
	font-weight: 500;
	line-height: normal;
	padding: 5px 0 0;
}

.ts-form-wrapper input.ts-appt-error,
.ts-form-wrapper select.ts-appt-error + .select2 {
	outline: 1px solid #b20921;
}

/*- DatePicker ---*/

.ts-datepicker {
	background: #ffffff;
	color: #000;
	font: 18px sans-serif;
	padding: 0;
	width: 16em;
}

#ts-input-date.hasDatepicker {
	line-height: normal;
	max-width: -moz-available;
	max-width: -webkit-fill-available;
	padding: 0.5em;
	width: 100%;
}

.ts-datepicker .ui-datepicker-header {
	align-items: center;
	border: none;
	display: flex;
	font-weight: 700;
	justify-content: space-around;
	padding: .3em 0;
}

.ts-datepicker .ui-datepicker-prev span,
.ts-datepicker .ui-datepicker-next span {
	background-image: none !important;
}

.ts-datepicker .ui-datepicker-header .ui-datepicker-next,
.ts-datepicker .ui-datepicker-header .ui-datepicker-prev {
	cursor: pointer;
	display: flex;
	font-size: inherit;
	font-weight: normal;
	height: auto;
	line-height: 1;
	text-align: center;
	text-decoration: none;
}

.ts-datepicker .ui-datepicker-header .ui-datepicker-next:after {
	content: '\276F';
}

.ts-datepicker .ui-datepicker-header .ui-datepicker-prev:after {
	content: '\276E';
}

.ts-datepicker a.ui-datepicker-prev.ui-state-disabled {
	cursor: initial;
}

.ts-datepicker .ui-datepicker-header .ui-state-hover,
.ts-datepicker .ui-datepicker-header .ui-widget-content .ui-state-hover,
.ts-datepicker .ui-datepicker-header .ui-widget-header .ui-state-hover,
.ts-datepicker .ui-datepicker-header .ui-state-focus,
.ts-datepicker .ui-datepicker-header .ui-widget-content .ui-state-focus,
.ts-datepicker .ui-datepicker-header .ui-widget-header .ui-state-focus {
	background: none;
	border: none;
}

.ts-datepicker td span,
.ts-datepicker td a.ui-state-default {
	background: #fff;
	color: #333;
	display: block;
	font-weight: 700;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}

.ts-datepicker .ui-datepicker-prev {
	order: 1;
}

.ts-datepicker .ui-datepicker-next {
	order: 3;
}

.ts-datepicker .ui-datepicker-title {
	order: 2;
	text-align: center;
}

.ts-datepicker td.ui-datepicker-unselectable.ui-state-disabled span {
	color: #bbb;
}

.ts-datepicker table {
	border: solid #ccc;
	border-collapse: collapse;
	border-width: 0 2px 2px;
	font-size: 16px;
	margin:0 0 .4em;
	width: 100%;
}

.ts-datepicker th {
	border: 0;
	font-weight: 700;
	padding: .7em .3em;
	text-align: center;
}

.ts-datepicker .ui-datepicker-calendar td {
	background-color: transparent;
	border: 0;
	padding: 1px;
}

.ts-datepicker .ui-state-default,
.ts-datepicker .ui-widget-header .ui-state-default {
	color: #555555;
	font-weight: normal;
}

.ts-datepicker .ui-state-active {
	background-color: #ddd!important;
	font-weight: normal;
}

.ts-datepicker td a.ui-state-hover {
	background-color: #ddd!important;
}

.ts-datepicker table tbody tr:hover > td,
.ts-datepicker table tbody tr:hover > th {
	background-color: transparent;
}

#ts-format-date {
	display: none;
}

/*- Loading Dots ---*/

.ts-dot-wrapper {
	align-content: center;
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 100%;
}

.ts-dot {
	height: 20px;
	width: 20px;
}

.ts-dot {
	animation: ts-dot-1 1.3s ease-in infinite;
	background-color: #ccc;
	border-radius: 50%;
}

.ts-dot:nth-child(2) {
	animation-name: ts-dot-2;
}

.ts-dot:nth-child(3) {
	animation-name: ts-dot-3;
}

.ts-dots {
	display: flex;
	justify-content: space-between;
	list-style: none!important;
	padding: 0;
	margin: 10px auto;
	width: 70px;
}

.ts-dots li{
	list-style: none!important;
}

@keyframes ts-dot-1 {
	0%,70%,100% {
		background-color: #ccc;
	}
}

@keyframes ts-dot-2 {
	0%,15%,85%,100% {
		background-color: #ccc;
	}
}

@keyframes ts-dot-3 {
	0%,30%,100% {
		background-color: #ccc;
	}
}

/*- Media Queries ---*/

@media (max-width:1000px){
	.ts-form {
		flex-direction: column;
		max-width: 100%;
	}
}